/* Celulares */
@media screen and (min-width: 0) {

}

/* Tablets */
@media screen and (min-width: 768px) {

}

/* Desktops mais antigos */
@media screen and (min-width: 992px) {

/* Desktops mais atuais e tv */
@media screen and (min-width: 1200px {
    
}